__pycache__/game.cpython-310.pyc
__pycache__/game.cpython-311.pyc
data/__pycache__/ogl.cpython-310.pyc
data/__pycache__/world.cpython-310.pyc
data/__pycache__/animation.cpython-310.pyc
data/__pycache__/asset_handler.cpython-310.pyc
data/__pycache__/basic.cpython-310.pyc
data/__pycache__/camera.cpython-310.pyc
data/__pycache__/containers.cpython-310.pyc
data/__pycache__/display.cpython-310.pyc
data/__pycache__/entities.cpython-310.pyc
.vscode/settings.json
data/__pycache__/gui_elements.cpython-310.pyc
data/__pycache__/gui.cpython-310.pyc
.vscode/launch.json
System.code-workspace
data/__pycache__/text.cpython-310.pyc
data/__pycache__/input_handler.cpython-310.pyc
